{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Belly-button Diversity</title>#}
{#    <link rel="stylesheet" href="static/css/bootstrap.min.css">#}
{#  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">#}
{#  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>#}
{#<script src="{{ url_for('static', filename='js/app.js') }}"></script>#}
{#</html>#}

{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='css/bootstrap.min.css') }}">
{% endblock %}
{% block title %}Belly-button Diversity {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        <h1 class="display-4">Belly Button Diversity</h1>
        <p class="lead">Pick a sample using the dropdown to look at the
            bacteria found in a persons belly-button!</p>
        <hr class="my-4">
        <p>Each sample is a person and you see some of their demographic data
            underneath the dropdown</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card w-auto mb-3">
                            <div class="card-header">Select a sample:</div>
                            <div class="card-body">
                                <select id="sample-select"
                                        class="form-control"></select>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="card w-auto">
                            <div class="card-header">Sample Metadata</div>
                            <div class="card-body">
                                <ul id="sample-meta"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div id="pie"></div>
            </div>
            <div class="col-md-5">
                <div id="gauge"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="bubble"></div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}